Dengan Hormat,<br><br>
Diberitahukan bahwa karyawan Anda di bawah ini<br>
Nama = {{data.employeename}}<br>
SN = {{data.employeesn}}<br>
sedang mengajukan klaim medical dengan nomor medical klaim = {{data.requestnumber}}<br><br>
Harap ditindaklanjuti<br><br>
Hormat Kami,<br>
Aplikasi HCMS<br>
<a href="{{data.company_url}}">{{data.company_url}}</a>